<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Attendance Management System.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Employee Management System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assetsimg/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/animate.css/animate.css" rel="stylesheet" />
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet" />


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap-dtpicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        hmtl
        {
            height: 100%;
        }

        body
        {
          
            position: relative;
            margin: 0px;
            min-height: 100px;
            padding-bottom: 6.74rem;
            box-sizing: inherit
        }

        h5 {
            color: white;
            margin-top: 18px;
        }

        p {
        
            text-align: center;

            padding-top: 15px;
        }
       
        footer {
            position: fixed;
            bottom: 0px;
            left: 0px;
            right: 0px;
            text-align: center;
            background-color: #ccd8ff;
            height: 50px;
        }

        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
            z-index: 0;
        }
    </style>

</head>
<body>

    <header id="header" class="d-flex align-items-center navbar-fixed-top">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <h1>@Html.ActionLink("E Management System", "Index", "Home")</h1>
                <a href="index.html"><img src="~/assetsimg/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul >
                    <li style="color: white; margin-top: 18px; " class="glyphicon glyphicon-home"> </li>
                    <li> @Html.ActionLink("Home", "Index", "Home")</li>

                    @if (Session["FirstName"] != null)
                    {
                        <li>@Html.ActionLink("Employee Detail", "EmployeeDetail", "Employee")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Employee Detail", "Index", "Home")</li>
                    }
                    @if (Convert.ToBoolean(Session["Is_admin"]) == true)
                    {
                        <li>@Html.ActionLink("Project", "ProjectDetail", "ProjectMaster")</li>
                    }
                    else
                    {

                    }
                    @if (Convert.ToBoolean(Session["Is_admin"]) == true)
                    {
                        <li>@Html.ActionLink("Project Mapping", "Project_EmployeeMapping", "EmployeeProjectMapping")</li>
                    }
                    else
                    {


                    }
                    @if (Session["FirstName"] != null)
                    {
                        <li>@Html.ActionLink("Attendance Detail", "EmployeeAttandenceDetail", "EmployeeAttendance")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Attendance Detail", "Index", "Home")</li>

                    }
                </ul>

                <ul class="navbar-right">

                    @if (Session["EmployeeId"] != null)
                    {
                        <li class="btn-btn-primary"><h5>@Session["FirstName"]</h5></li>
                        <li>@Html.ActionLink("LogOut", "LogOut", "Employee")</li>
                    }
                    else
                    {
                        <li><span style="color: white; margin-top: 18px; " class="glyphicon glyphicon-user"></span></li>
                        <li>@Html.ActionLink("Login", "Login", "Employee")</li>
                    }
                   
                </ul>
            </nav> 

        </div>
    </header>

    <div class="container body-content">
        @RenderBody()

        <footer>

            <p style="text-align: center">Copyright &copy; | info@betaedge.in </p>


        </footer>

    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Scripts/bootstrap-dtpicker.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
