@model EmployeeAttendenceMangement.Models.ProjectMasterModel

@{
    ViewBag.Title = "CreateProject";
}
<div class="header">


    <h1>Project </h1>


</div>
<style>
    form {
        margin-top: 60px;
        margin-left: 230px;
        margin-right: 230px;
        box-shadow: 2px 6px 50px gray;
        border-radius: 10px 40px;
        border: 1px solid black;
        padding-top: 10px;
        padding-left:60px;
        
    }

    .txt_right {
        margin-left: 20px;
    }

    .main-container {
        height: auto;
        margin-top: 10px;
    }

    .zoom:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1); /* Safari 3-8 */
        transform: scale(1.1);
        transition: 0.5s;
    }

    #text {
        float: left;
        width: 100px;
    }


    select {
        width: 200px;
        height: 29px;
        border-radius: 3px;
        border: 1px solid #CCC;
        font-weight: 200;
        font-size: 15px;
        font-family: Verdana;
        box-shadow: 1px 1px 5px #CCC;
    }

        select: hover {
            width: 200px;
            height: 29px;
            border-radius: 3px;
            border: 1px solid #CCC;
            font-weight: 200;
            font-size: 15px;
            font-family: Verdana;
            box-shadow: 1px 1px 5px #CCC;
        }

    .reg {
        margin-left: 40px;
    }
</style>


<style>
    div.header {
        background-color: black;
        padding-bottom: 10px;
    }

    body {
        background-color: #fcfafa;
    }

    .form-horizontal {
        overflow: hidden;
    }

    h1 {
        color: white;
        text-align: center;
        margin-top: 18px;
    }
</style>

@using (Html.BeginForm("CreateProject", "ProjectMaster", FormMethod.Post))
{
    <br />
    <br />
    @Html.AntiForgeryToken()


    <div class="form-horizontal">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.Label("Project Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "      --Enter Your Project Name --" } })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { style = "color:red " })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", onkeyup = "textAreaAdjust(this)", required = "required", placeholder = "      --Description About Project --" })
                @Html.ValidationMessageFor(model => model.Description, "", new { style = "color:red " })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Project Code", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectCode, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "      -- Enter Your  Project Code --" } })
                @Html.ValidationMessageFor(model => model.ProjectCode, "", new { style = "color:red " })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4  col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>

        </div>
    </div>
}
@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/jqueryval")


<script type="text/javascript">


    function textAreaAdjust(element) {
        element.style.height = "1px";
        element.style.height = (25 + element.scrollHeight) + "px";
    }

</script>
