@model PagedList.IPagedList<EmployeeAttendenceMangement.Models.ProjectMasterModel>

@using PagedList.Mvc;
@{
    ViewBag.Title = "ProjectsDetail";
}

<style>
    h3 {
        padding: 10px;
    }

    table, th, td {
        border: 1px solid blue;
        margin-left: Auto;
        margin-right: Auto;
        table-layout: fixed;
        text-align: center;
    }

        table.table {
            border-collapse: collapse;
        }

    .cell-breakWord {
        word-wrap: break-word;
    }

    th {
        background-color: #b8b894;
        width: 10%;
    }

    tr {
        background-color: #e1e1d0;
        width: 10%;
    }
</style>

<h2>Project Master </h2>

<p style="text-align: left;">
    <button type="submit" class="btn-btn-primary">@Html.ActionLink("Create Project", "CreateProject")</button>
</p>

<table class="table">
    <tr>

        <th>
            Project Name
        </th>
        <th>
            Description

        </th>
        <th>
            Project Code
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="cell-breakWord">
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td class="cell-breakWord">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="cell-breakWord">
                @Html.DisplayFor(modelItem => item.ProjectCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "UpdateProject", new { ProjectId = item.ProjectId })
                @*@Html.ActionLink("Delete", "ProjectDelete", new { ProjectId = item.ProjectId })*@
            </td>
        </tr>
    }

</table>

@using (Html.BeginForm("ProjectDetail", "ProjectMaster", FormMethod.Get, new { id = "form1" }))

{
    <div id='Paging' style="padding-left:450px">

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ProjectDetail", new { page, pageSize = ViewBag.psize }))
    </div>
}
