@model EmployeeAttendenceMangement.Models.EmployeeCreateModel


<style>
    .form-horizontal {
        overflow: hidden;
    }

    h3 {
        padding: 10px;
    }
</style>

<style>
    body {
        background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: "Open Sans", sans-serif;
        color: #333333;
    }

    .box-form {
        margin: 0 auto;
        width: 80%;
        background: #FFFFFF;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex: 1 1 100%;
        align-items: stretch;
        justify-content: space-between;
        box-shadow: 0 0 20px 6px #090b6f85;
    }




        .box-form div {
            height: auto;
        }

        .box-form .left {
            color: #FFFFFF;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
            overflow: hidden;
        }

            .box-form .left .overlay {
                padding: 30px;
                width: 100%;
                height: 100%;
                background: #5961f9ad;
                overflow: hidden;
                box-sizing: border-box;
            }

                .box-form .left .overlay h1 {
                    font-size: 10vmax;
                    line-height: 1;
                    font-weight: 900;
                    margin-top: 40px;
                    margin-bottom: 20px;
                }

                .box-form .left .overlay span p {
                    margin-top: 30px;
                    font-weight: 900;
                }

                .box-form .left .overlay span a {
                    background: #3b5998;
                    color: #FFFFFF;
                    margin-top: 10px;
                    padding: 14px 50px;
                    border-radius: 100px;
                    display: inline-block;
                    box-shadow: 0 3px 6px 1px #042d4657;
                }

                    .box-form .left .overlay span a:last-child {
                        background: #1dcaff;
                        margin-left: 30px;
                    }

        .box-form .right {
            padding: 40px;
            overflow: hidden;
        }


            .box-form .right h5 {
                font-size: 6vmax;
                line-height: 0;
            }

            .box-form .right p {
                font-size: 14px;
                color: #B0B3B9;
            }

            .box-form .right .inputs {
                overflow: hidden;
            }

            .box-form .right input {
                width: 100%;
                padding: 10px;
                margin-top: 25px;
                font-size: 16px;
                border: none;
                outline: none;
                border-bottom: 2px solid #B0B3B9;
            }

            .box-form .right .remember-me--forget-password {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

                .box-form .right .remember-me--forget-password input {
                    margin: 0;
                    margin-right: 7px;
                    width: auto;
                }

            .box-form .right button {
                float: right;
                color: #fff;
                font-size: 16px;
                padding: 12px 35px;
                border-radius: 50px;
                display: inline-block;
                border: 0;
                outline: 0;
                box-shadow: 0px 4px 20px 0px #49c628a6;
                background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
            }
</style>


<style type="text/css">

    .control-label:after {
        content: " *";
        font-weight: bold;
        color: red;
    }

    .TempData["EmailValidation"] {
        color: red;
    }
</style>
<h3> Employee Registration</h3>
<hr />
@using (Html.BeginForm("Create", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal ">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-2"  })

            <div class="col-md-3">
                @Html.HiddenFor(model => model.EmployeeId )
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "       --Enter Your  First Name--", onKeyPress = "return ValidateAlpha(event)" } })
                @TempData["msgName"]
                @Html.ValidationMessageFor(model => model.FirstName, "", new { style = "color:red " })
            </div>
            @Html.Label("Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">

                @Html.EditorFor(model => model.LastName, "--Enter Your  Last Name--", new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "     --Enter Your  Last Name--", onKeyPress = "return ValidateAlpha(event)" } })
                @TempData["msgLastName"]
                @Html.ValidationMessageFor(model => model.LastName, "", new { style = "color:red " })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Gender", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <label class="radio-inline ">
                    @Html.RadioButtonFor(model => model.Gender, "Male", new { @Name = "Gender", required = "required" })Male
                </label>
                <label class="radio-inline ">
                    @Html.RadioButtonFor(model => model.Gender, "Female", new { @Name = "Gender", required = "required" })
                    Female

                </label>
                <label class="radio-inline ">
                    @Html.RadioButtonFor(model => model.Gender, "Other", new { @Name = "Gender", required = "required" })
                    Others

                </label><br />
                @Html.ValidationMessageFor(model => model.Gender, "", new { style = "color:red " })

            </div>

            @Html.Label("Marital status", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-3">
                <label class="radio-inline ">
                    @Html.RadioButtonFor(model => model.Marital_status, "Married", new { @Name = "Marital_status", required = "required" })Married
                </label>
                <label class="radio-inline ">
                    @Html.RadioButtonFor(model => model.Marital_status, "Unmarried", new { @Name = "Marital_status", required = "required" })
                    Unmarried
                </label>
                <br />
                @Html.ValidationMessageFor(model => model.Marital_status, "", new { style = "color:red " })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date of Birth", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DateofBirth, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control", ID = "DateofBirth", required = "required" } })
                @Html.ValidationMessageFor(model => model.DateofBirth, "", new { style = "color:red " })
            </div>

            @Html.Label("Joining Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Emp_Joining_Date, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Emp_Joining_Date, "", new { style = "color:red " })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Contact No", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">

                @Html.EditorFor(model => model.Contact_No, new { htmlAttributes = new { @class = "form-control", required = "", Id = "ContactTxt", maxlength = "10", placeholder = "      --Enter Your Contact No--", onkeypress = "return isNumberKey(event)" } })
                <div id="divMessage1" style="color:red; font-weight:bold;"></div>
                @Html.ValidationMessageFor(model => model.Contact_No, "", new { style = "color:red " })

            </div>
            @Html.Label("Alternate Contact No", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.AlternateContact_No, new { htmlAttributes = new { @class = "form-control", Id = "AltContactTxt", required = "required", maxlength = "10", placeholder = "     --Enter Your Alternate No--", onkeypress = "return isNumberKey(event)" } })
                @Html.ValidationMessageFor(model => model.AlternateContact_No, "", new { style = "color:red " })

            </div>

        </div>
        <div class="form-group">
            @Html.Label("Country Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">

                @Html.DropDownList("CountryId", new SelectList(ViewBag.CountryList, "CountryId", "CountryName"), "---Select Country Name---", htmlAttributes: new { @class = "form-control", @style = "width:260px", Id = "Cid", required = "required" })


                @Html.ValidationMessageFor(model => model.CountryId, "", new { style = "color:red " })

            </div>
            @Html.Label("State Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @if (ViewBag.CountryList1 != null)
                {
                    @Html.DropDownListFor(model => model.StateId, new SelectList(ViewBag.CountryList1, "StateId", "StateName"), "---Select State Name ---", htmlAttributes: new { @class = "form-control", @style = "width:260px", Id = "St", required = "required" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.StateId, new SelectList(""), "---Select State Name ---", htmlAttributes: new { @class = "form-control", @style = "width:260px", Id = "St", required = "required" })
                }

                @Html.ValidationMessageFor(model => model.StateId, "", new { style = "color:red" })

            </div>
        </div>
        <div class="form-group">
            @Html.Label("City", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "     --Enter Your City Name--" } })
                @Html.ValidationMessageFor(model => model.City, "", new { style = "color:red " })
            </div>
            @Html.Label("PinCode", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "6", placeholder = "     --Enter Your PinCode--", onkeypress = "return isNumberKey(event)" } })
                @TempData["msgpincode"]
                @Html.ValidationMessageFor(model => model.PinCode, "", new { style = "color:red " })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Address", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", onkeyup = "textAreaAdjust(this)", required = "required", placeholder = "     --Enter Your Full Address--" })
                @Html.ValidationMessageFor(model => model.Address, "", new { style = "color:red " })
            </div>
            @Html.Label("Email Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = " --Enter Your Emailid--", AutoPostBack = "true", Id = "onEmailCheck" } })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { style = "color:red " })

                <div id="divMessage" style="color:red; font-weight:bold;"></div>
                @*<div class='validation' style='color:red;margin-bottom: 20px;'> @TempData["EmailValidation"] </div>*@

            </div>
        </div>
        <div class="form-group">
            @Html.Label("Alternate Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.AlternateEmail, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = " --Enter Your Emailid--", AutoPostBack = "true", Id = "onAltEmailCheck" } })
                @Html.ValidationMessageFor(model => model.AlternateEmail, "", new { style = "color:red " })

                <div id="AltdivMessage" style="color:red; font-weight:bold;"></div>
                @*<div class='validation' style='color:red;margin-bottom: 20px;'> @TempData["EmailValidation"] </div>*@

            </div>
            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "     --Enter Your Password No--", Id = "txtPassword" } })
            @Html.ValidationMessage("Password", "", new { style = "color:red " })
            <div id="msgPassword" style="color:red; font-weight:bold;"></div>
        </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="save" class="btn btn-success" id="submitButton" />
            </div>
        </div>
    </div>

}
@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/jqueryval")



<script>
    $('#AltContactTxt').change(function () {
        debugger;

        $("#AltContactTxt").next('.validation').hide();

        if ($("#AltContactTxt").val() == $("#ContactTxt").val()) {

            $("#AltContactTxt").after("<div class='validation' style='color:red;margin-bottom: 20px;'> Primary Contact Number and Alternate Contact Number should not be same,Type again ! </div>");
        }
        else {
            $("#AltContactTxt").next('.validation').hide();
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#txtEmployeeId").hide();
        $("#Cid").change(function () {
            var id = $(this).val();
            $("#St").empty();
            $.get("/Employee/State_Bind", { CountryId: $("#Cid").val() }, function (data) {
                debugger;
                var v = "<option>---Select---</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";

                });
                $("#St").html(v);
            })
        });
    });

    $(function () {

        $("#onEmailCheck").blur(function () {
           
            var email = $("#onEmailCheck").val();

            $.ajax
                ({
                    method: "POST",
                    url: "/Employee/ValidateEmailId/",
                    data: { emailId: email }
                })
                .done(function (msg) {
                    if (msg == 1) {
                        debugger;
                        $("#divMessage").html("EmailId all ready registered");
                        //document.getElementById("submitButton").disabled = true;
                    } else
                    {
                        $("#divMessage").html("");
                        document.getElementById("submitButton").disabled = false;  
                    }

                });

        })
    });
    $(function () {

        $("#onAltEmailCheck").blur(function () {       
            var email = $("#onAltEmailCheck").val();
            $.ajax
                ({
                    method: "POST",
                    url: "/Employee/ValidateEmailId/",
                    data: { emailId: email }
                })
                .done(function (msg) {
                    if (msg == 1) {
                        debugger;
                        $("#AltdivMessage").html("EmailId all ready registered");
                       
                    } else {
                        $("#AltdivMessage").html("");
                        debugger;
                        $("#onAltEmailCheck").next('.validation').hide();

                        if ($("#onAltEmailCheck").val() == $("#onEmailCheck").val()) {

                            $("#onAltEmailCheck").after("<div class='validation' style='color:red;margin-bottom: 20px;'>Emaild  and ALternate EmailId should not be same,Type again ! </div>");
                            

                        }
                        else {
                            $("#onAltEmailCheck").next('.validation').hide();
                           
                        }
                    }

                });

        })
    });

</script>
<script type="text/javascript">
    $(function () {

        $('#DateofBirth').change(function () {
            $("#DateofBirth").next('.validation').hide();
            var age = CalculateAge();
            if (age < 18) {
                $("#DateofBirth").after("<div class='validation' style='color:red;margin-bottom: 20px;'> you should be elder than 18 year </div>");
                document.getElementById("DateofBirth").value = "";
            }
            else {
                $("#DateofBirth").next('.validation').hide();
            }
        });

    });



    $('#Emp_Joining_Date').change(function () {
        $("#Emp_Joining_Date").next('.validation').hide();
        debugger;
        var age = CalculateAge1();
        var age1 = CalculateAge2();
        if (age < 18 ) {
            $("#Emp_Joining_Date").after("<div class='validation' style='color:red;margin-bottom: 20px;'>Joining date must be greater than 18year to  Date of Birth</div>");
            document.getElementById("Emp_Joining_Date").value = "";
        }
        else {
            $("#Emp_Joining_Date").next('.validation').hide();
            debugger;
            if (age1 < 0)
            {
                $("#Emp_Joining_Date").after("<div class='validation' style='color:red;margin-bottom: 20px;'>Joining date should not be greater than today's date</div>");
                document.getElementById("Emp_Joining_Date").value = "";
            }

        }
    });

    function CalculateAge1() {
        debugger;
        var doj = $("#Emp_Joining_Date").val();
        var dob = $("#DateofBirth").val();
        dob = new Date(dob);
        doj = new Date(doj);

        var today = new Date();

        var age = Math.floor((doj - dob) / (365.25 * 24 * 60 * 60 * 1000));
        return age;

    }

    function CalculateAge() {
       
        var dob = $("#DateofBirth").val();
        dob = new Date(dob);

        var today = new Date();
        var age = Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000));

        return age;
    }
    function CalculateAge2() {
        debugger;
        var dob = $("#Emp_Joining_Date").val();
        dob = new Date(dob);

        var today = new Date();
        var age1 = Math.floor((today - dob) / (365.25 * 24 * 60 * 60 * 1000));
        return age1;
    }

</script>



<script type="text/javascript">


    function textAreaAdjust(element) {
        element.style.height = "1px";
        element.style.height = (25 + element.scrollHeight) + "px";
    }

</script>

<script>
    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : evt.keyCode
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function ValidateAlpha(evt) {
        var keyCode = (evt.which) ? evt.which : evt.keyCode
        if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && keyCode != 32)

            return false;
        return true;
    }
</script>


<script>

    $(function () {
    

        $("#txtPassword").change(function () {


            var email = $("#txtPassword").val();
            var paswd = /^[a-zA-Z0-9!#$%^&*]{6,16}$/;
            if (paswd.test(email) ) {
                $("#msgPassword").html("password contain between 5 to 10 characters which contain at least one lowercase letter, one uppercase letter, one numeric digit, and one special character");        
            }
            else
            {
                $("#msgPassword").html("");
               
            }

        })
    });

</script>