@model EmployeeAttendenceMangement.Models.EmployeeCreateModel

@{
    ViewBag.Title = "CreatePassword";
}

<style>
    h3 {
        padding: 10px;
    }
</style>
<h3>  Create Password </h3>

@using (Html.BeginForm("ForgetPassword", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("EmailId", new { htmlAttributes = new { @class = "form-control", Required = "Required" } })
                @Html.ValidationMessage("Email", new { @class = "text-danger" })
                <span style="color:red">@TempData["msg"]</span>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control",Id ="Passwordtxt", Required = "Required" } })
                @Html.ValidationMessage("Password", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Confirm Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "form-control", Id = "ConfrimPasswordtxt", Required = "Required" } })
                @Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger " })
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}


<script>
    $('#ConfrimPasswordtxt').change(function () {
        debugger;

        $("#ConfrimPasswordtxt").next('.validation').hide();

        if ($("#ConfrimPasswordtxt").val() != $("#Passwordtxt").val()) {

            $("#ConfrimPasswordtxt").after("<div class='validation' style='color:red;margin-bottom: 20px;'>Password & Confirm password don't match, Type again ! </div>");
            document.getElementById("ConfrimPasswordtxt").value = "";
          
        }
        else {
            $("#ConfrimPasswordtxt").next('.validation').hide();
        }
    });
</script>